.r-div{
		width: 90%;
		margin-left: 5%;
		border: 1px solid #C9C9C9;
		margin-top: 1em;
		height: 3em;
		line-height: 3em;
		background-color: #fff;

	}
	.r-div img{width: 2em;height: 2em;display: block;float: left;margin-top: 0.5em;margin-left: 0.5em;}
	.r-div input {height: 2.8em;line-height: 2.8em;outline: none;float:left;border: none;padding-top: 0.1em;}
	.r-div .clear-input{width: 2em;height: 2em;background-color: #C9C9C9;color: #fff;font-weight: bold;text-align: center;float: right;margin-right: 0.5em;margin-top: 0.5em;line-height: 2em;border-radius: 1em;display: none;}
	.r-div .get-code{height: 2.9em;line-height: 2.9em;background-color: #094DA0;color: #fff;float: right;width: 25%;text-align: center;}
	.reg-logins{width: 100%;text-align: center;margin: 2em 0;}