.detail_tit{
	margin: 0 10px;
	height: 3.2667rem;
}
.detail_tit h3{
	text-align: center;
	width: 100%;
	line-height: 3.2667rem;
	font-size: 0.8rem;
	font-weight: normal
}

.detail_tit h3 em{ background:#5CC241;border-radius:0.3rem;font-size:0.6rem;height:0.8rem;width:0.8rem;color:#fff;padding：0.1rem;}

.detail_rate{margin: 0 10px;}
.detail_rate h4{
	text-align: center;
	width: 100%;
	line-height: 2rem;
	font-size: 0.5rem;
	color:#9a9a9a;
	font-weight: normal
}

.detail_rate span{
	display: block;
	width: 100%;
	text-align: center;
	color:#004ca2;
	height: 2rem;
	line-height: 2rem;
	font-size: 2rem;
	font-family: Arial
}
.detail_rate span em{ font-size:0.5rem}

.detail_row{}
.detail_row .it{
	display: block;
	float:left;
	width: 33.3333%;
	text-align: center;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.7rem;
	border-right: 1px solid #dfdfdf;
	margin:0.1rem 0 
}

.detail_row .it.last{border-right: 0}

.detail_process{padding:0 1.2rem;clear: both;padding-top:2.2rem;position:relative;}
.detail_process .bg{height:0.18rem;line-height:0.18rem;background:#DFDFDF;border-radius: 0.2333rem;}
.detail_process .pros{height:0.18rem;line-height:0.18rem;marin:0;display: block;background:#EB544B;border-radius: 0.2333rem;}
.detail_process .tip_bar{font-size:0.55rem;width:100%;height:0;overflow:visible}
.detail_process .tip_bar .tip{top: 1rem;position:absolute;margin-left:-1.2rem; width:2.4rem; text-align:center; border-radius: 0.2rem;height:0.9rem;line-height:0.9rem;background:#004ca2;color: #fff;font-family: Arial}
.detail_process .tip_bar span{
    width:0; 
    height:0; 
    border-left:0.3rem solid transparent;
    border-right:0.3rem solid transparent;
    border-top:0.3rem solid #004ca2;
    bottom:-0.3em;
    display:block;
    margin: 0 auto
}

.detail_hs_nd{padding:0 1.2rem;clear: both;padding-top:0.50rem;height:2.6rem;line-height:1.6em;font-size:0.55rem}
.detail_hs_nd .f_l em{color:#004ca2;}
.detail_hs_nd em{ clear:both;display:block}

.detail_list ul{padding:0 0.2rem;}
.detail_list ul li{
	color: #999;
	font-size: 0.715rem;
	margin: 0px;
	position: relative;
}

.detail_list ul li input.ipt{padding:0; font-size: 0.7rem!important;height: 2rem!important;
	line-height: 2rem!important; border:none;margin: 0.3rem 0;}

.detail_list ul li label{
	width: 4.235rem;
	height: 2.75rem;
	line-height: 2.75rem;
	float: left;
	color:#656565;
	padding-left:0.6rem;
}
.detail_list .list_con{
	height: 2.75rem;
	line-height: 2.75rem;
	margin-left: 4.735rem;
}
.detail_Orange{
	color: #eb8327;
}
.main_font{
	color:@font_main;
}
.aggregate{

	background:@box_color;
	padding:10px;
}
.aggregate .money{
	float:right;
	font-size:18px;
	line-height:38px;
}
.aggregate .total{
	float:left;
	fofont-siz:16px;
	line-height:25px;}
.linkbtn {
    background: #fff;
	border-radius: 3px;
	color: #004ca2;
	display: inline-block;
	border:1px solid #004ca2;
	float:right;
	font-size: 0.7rem!important;height: 2rem!important;
	line-height: 2rem!important; margin: 0.3rem 0;
	padding:0 0.4rem
}
.ui_width{
	width:90%; 
}

.uis_width{
	width:80%; 
}

.money h1{
display: inline-block;
font-size: 38px;
}
.money h2{
	display: inline-block;
	font-size: 22px;
}

.nun_choose .c_number{ font-size: 1.5rem!important;height: 2rem!important; width:2rem; text-align:center;
	line-height: 2rem!important; margin: 0.4rem 0; background:#EB544B;color:#fff
}
.nun_choose .nuns{ height: 2rem!important;width:3rem;font-size: 1rem!important; margin: 0.4rem 0;line-height: 2rem!important;border:none; border-bottom:1px solid #EB544B;border-top:1px solid #EB544B; text-align:center;  color:#EB544B;}
.nun_choose .Minus{ border-radius:3px 0 0 3px;}
.nun_choose .Plus{ border-radius:0px 3px 3px 0px;}

