input::-webkit-input-placeholder {
    color:#dbdbdb;
}
input:-moz-placeholder {
    color:#dbdbdb;
}
.ui-button_getcode{ height:1.19736rem; line-height:1.29736rem; text-align:center; width:100%; font-size:0.60rem; color:#0a7bfa; background:#fff; border-radius:5px; border:1px solid #004ca2;}
